(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("dump.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "eth_40gb_pcs",
            ],
            id: Wellen((2)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                            "tx_alignment_marker",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "[2]",
                    id: Wellen((40)),
                ),
                color: None,
                background_color: None,
                display_name: "…tx_alignment_marker.[2] [65:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                            "tx_alignment_marker",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "[3]",
                    id: Wellen((41)),
                ),
                color: None,
                background_color: None,
                display_name: "…tx_alignment_marker.[3] [65:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "tx_scrambler_out",
                    id: Wellen((33)),
                ),
                color: None,
                background_color: None,
                display_name: "tx_scrambler_out [255:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "tx_phy_clk",
                    id: Wellen((17)),
                ),
                color: None,
                background_color: None,
                display_name: "tx_phy_clk [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "tx_parallel_data",
                    id: Wellen((18)),
                ),
                color: None,
                background_color: None,
                display_name: "tx_parallel_data [127:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "jam_next_cycle",
                    id: Wellen((31)),
                ),
                color: None,
                background_color: None,
                display_name: "jam_next_cycle [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "core_clk",
                    id: Wellen((10)),
                ),
                color: None,
                background_color: None,
                display_name: "core_clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "tx_state",
                    id: Wellen((47)),
                ),
                color: None,
                background_color: None,
                display_name: "tx_state [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Enum"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                            "tx_alignment_marker",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "[1]",
                    id: Wellen((39)),
                ),
                color: None,
                background_color: None,
                display_name: "…tx_alignment_marker.[1] [65:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                            "tx_lane",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "[0]",
                    id: Wellen((42)),
                ),
                color: None,
                background_color: None,
                display_name: "…tx_lane.[0] [65:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                            "tx_scrambled_block",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "[3]",
                    id: Wellen((37)),
                ),
                color: None,
                background_color: None,
                display_name: "…tx_scrambled_block.[3] [65:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "tx_scrambler_in",
                    id: Wellen((32)),
                ),
                color: None,
                background_color: None,
                display_name: "tx_scrambler_in [255:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                            "tx_alignment_marker",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "[0]",
                    id: Wellen((38)),
                ),
                color: None,
                background_color: None,
                display_name: "…tx_alignment_marker.[0] [65:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                            "tx_lane",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "[1]",
                    id: Wellen((43)),
                ),
                color: None,
                background_color: None,
                display_name: "…tx_lane.[1] [65:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                            "tx_lane",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "[2]",
                    id: Wellen((44)),
                ),
                color: None,
                background_color: None,
                display_name: "…tx_lane.[2] [65:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                            "tx_lane",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "[3]",
                    id: Wellen((45)),
                ),
                color: None,
                background_color: None,
                display_name: "…tx_lane.[3] [65:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                            "tx_scrambled_block",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "[0]",
                    id: Wellen((34)),
                ),
                color: None,
                background_color: None,
                display_name: "…tx_scrambled_block.[0] [65:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "core_reset",
                    id: Wellen((11)),
                ),
                color: None,
                background_color: None,
                display_name: "core_reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                            "tx_scrambled_block",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "[2]",
                    id: Wellen((36)),
                ),
                color: None,
                background_color: None,
                display_name: "…tx_scrambled_block.[2] [65:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "eth_40gb_pcs",
                            "tx_scrambled_block",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "[1]",
                    id: Wellen((35)),
                ),
                color: None,
                background_color: None,
                display_name: "…tx_scrambled_block.[1] [65:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 25,
        viewports: [
            (
                curr_left: (0.0007594821180271537),
                curr_right: (0.0008828918912547079),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            544,
        ])),
        markers: {},
        focused_item: Some((20)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)