(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("dump.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "tx_async_gearbox",
            ],
            id: Wellen((2)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (39),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (33),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (67),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (29),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (30),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (31),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (32),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (48),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (49),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (45),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (34),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (46),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (47),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (66),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (35),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (47): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tx_async_gearbox",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "next_rd_ptr",
                    id: Wellen((63)),
                ),
                color: None,
                background_color: None,
                display_name: "next_rd_ptr [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tx_async_gearbox",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "clk_out_reset",
                    id: Wellen((12)),
                ),
                color: None,
                background_color: None,
                display_name: "clk_out_reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (29): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tx_async_gearbox",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "wr_ptr_g",
                    id: Wellen((58)),
                ),
                color: None,
                background_color: None,
                display_name: "wr_ptr_g [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tx_async_gearbox",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "clk_in_reset",
                    id: Wellen((10)),
                ),
                color: None,
                background_color: None,
                display_name: "clk_in_reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (66): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tx_async_gearbox",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "valid_out",
                    id: Wellen((16)),
                ),
                color: None,
                background_color: None,
                display_name: "valid_out",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (32): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tx_async_gearbox",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "wr_ptr_sync",
                    id: Wellen((61)),
                ),
                color: None,
                background_color: None,
                display_name: "wr_ptr_sync [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (23): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (28): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (46): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tx_async_gearbox",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "rd_ptr",
                    id: Wellen((62)),
                ),
                color: None,
                background_color: None,
                display_name: "rd_ptr [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tx_async_gearbox",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "clk_out",
                    id: Wellen((11)),
                ),
                color: None,
                background_color: None,
                display_name: "clk_out",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (35): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (39): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tx_async_gearbox",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "wr_addr",
                    id: Wellen((54)),
                ),
                color: None,
                background_color: None,
                display_name: "wr_addr [10:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (30): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tx_async_gearbox",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "wr_ptr_g_sync1",
                    id: Wellen((59)),
                ),
                color: None,
                background_color: None,
                display_name: "wr_ptr_g_sync1 [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (33): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tx_async_gearbox",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "data_in",
                    id: Wellen((13)),
                ),
                color: None,
                background_color: None,
                display_name: "data_in [65:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (31): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tx_async_gearbox",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "wr_ptr_g_sync2",
                    id: Wellen((60)),
                ),
                color: None,
                background_color: None,
                display_name: "wr_ptr_g_sync2 [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (67): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tx_async_gearbox",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "valid_in",
                    id: Wellen((14)),
                ),
                color: None,
                background_color: None,
                display_name: "valid_in",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (34): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tx_async_gearbox",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "data_out",
                    id: Wellen((15)),
                ),
                color: None,
                background_color: None,
                display_name: "data_out [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tx_async_gearbox",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "clk_in",
                    id: Wellen((9)),
                ),
                color: None,
                background_color: None,
                display_name: "clk_in",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (26): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (45): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tx_async_gearbox",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "empty",
                    id: Wellen((52)),
                ),
                color: None,
                background_color: None,
                display_name: "empty",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (49): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tx_async_gearbox",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "wr_ptr_est",
                    id: Wellen((57)),
                ),
                color: None,
                background_color: None,
                display_name: "wr_ptr_est [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 67,
        viewports: [
            (
                curr_left: (0.26498243198031096),
                curr_right: (0.9817383459665607),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            1088,
        ])),
        markers: {},
        focused_item: Some((5)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (5),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)